# Set MCP Endpoint
MCP_ENDPOINT=

# Discord BOT Token
DISCORD_BOT_TOKEN=

# LLM settings for CrewAI
MODEL=openai/gpt-4o-mini

# If using OpenAI Models, you should be sure to provide at least the API key.
# But you can also provide a custom API Base
# Required
# OPENAI_API_KEY=sk-...

# Optional
# OPENAI_API_BASE=<custom-base-url>
# OPENAI_ORGANIZATION=<your-org-id>